name: build

on:
  push:
    branches: [ main ]
    paths-ignore:
    - '**/*.md'
    - '**/*.gitignore'
    - '**/*.gitattributes'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  AWS_REGION: eu-west-1
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_MULTILEVEL_LOOKUP: 0
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: 1
  LAMBDA_FUNCTION: 'alexa-london-travel'
  LAMBDA_HANDLER: 'LondonTravel.Skill::MartinCostello.LondonTravel.Skill.AlexaFunctionHandler::HandleAsync'
  LAMBDA_MEMORY: 256
  LAMBDA_ROLE: 'arn:aws:iam::492538393790:role/lambda_basic_execution'
  LAMBDA_RUNTIME: 'provided.al2'
  LAMBDA_TIMEOUT: 10
  NUGET_XMLDOC_MODE: skip
  TERM: xterm

permissions:
  contents: read

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        include:
          - os: macos-latest
            os_name: macos
          - os: ubuntu-latest
            os_name: linux
          - os: windows-latest
            os_name: windows

    steps:

    - name: Checkout code
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@607fce577a46308457984d59e4954e075820f10a # v3.0.3

    - name: Build, Test and Package
      shell: pwsh
      run: ./build.ps1
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}

    - uses: codecov/codecov-action@894ff025c7b54547a9a2a1e9f228beae737ad3c2 # v3.1.3
      name: Upload coverage to Codecov
      with:
        file: ./.artifacts/coverage/coverage.cobertura.xml
        flags: ${{ matrix.os_name }}

    - name: Publish artifacts
      uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
      with:
        name: artifacts-${{ matrix.os_name }}
        path: ./.artifacts

    - name: Create Lambda ZIP file
      if: ${{ runner.os == 'Linux' }}
      run: |
        cd "./artifacts/publish/LondonTravel.Skill/release_linux-arm64" || exit
        if [ -f "./bootstrap" ]
        then
          chmod +x ./bootstrap
        fi
        zip -r "../../../${{ env.LAMBDA_FUNCTION }}.zip" . || exit 1

    - name: Publish deployment package
      uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
      if: ${{ runner.os == 'Linux' && success() }}
      with:
        name: lambda
        path: ./.artifacts/${{ env.LAMBDA_FUNCTION }}.zip
        if-no-files-found: error

  deploy-dev:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: dev
    needs: build
    concurrency: development_environment
    runs-on: ubuntu-latest
    environment:
      name: dev

    steps:

    - name: Download artifacts
      uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
      with:
        name: lambda

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@e1e17a757e536f70e52b5a12b2e8d1d1c60e04ef # v2.0.0
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Update function code
      run: |
        aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_FUNCTION }}-dev \
            --architectures arm64 \
            --publish \
            --zip-file fileb://./${{ env.LAMBDA_FUNCTION }}.zip \
            > /dev/null

    - name: Wait for function code update
      run: |
        aws lambda wait function-updated \
            --function-name ${{ env.LAMBDA_FUNCTION }}-dev \
            > /dev/null

    - name: Update function configuration
      run: |
        aws lambda update-function-configuration \
            --function-name ${{ env.LAMBDA_FUNCTION }}-dev \
            --description "Deploy build ${{ github.run_number }} to AWS Lambda via GitHub Actions" \
            --handler ${{ env.LAMBDA_HANDLER }} \
            --memory-size ${{ env.LAMBDA_MEMORY }} \
            --role ${{ env.LAMBDA_ROLE }} \
            --runtime ${{ env.LAMBDA_RUNTIME }} \
            --timeout ${{ env.LAMBDA_TIMEOUT }} \
            > /dev/null

  tests-dev:
    name: tests-dev
    needs: deploy-dev
    runs-on: ubuntu-latest
    concurrency: development_environment

    steps:

    - name: Checkout code
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@607fce577a46308457984d59e4954e075820f10a # v3.0.3

    - name: Run end-to-end tests
      shell: pwsh
      run: dotnet test ./test/LondonTravel.Skill.EndToEndTests --configuration Release --logger "GitHubActions;report-warnings=false"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
        LAMBDA_FUNCTION_NAME: ${{ env.LAMBDA_FUNCTION }}-dev

  deploy-prod:
    name: production
    needs: tests-dev
    runs-on: ubuntu-latest
    concurrency: production_environment
    environment:
      name: production

    steps:

    - name: Download artifacts
      uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
      with:
        name: lambda

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@e1e17a757e536f70e52b5a12b2e8d1d1c60e04ef # v2.0.0
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Update function code
      run: |
        aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_FUNCTION }} \
            --architectures arm64 \
            --publish \
            --zip-file fileb://./${{ env.LAMBDA_FUNCTION }}.zip \
            > /dev/null

    - name: Wait for function code update
      run: |
        aws lambda wait function-updated \
            --function-name ${{ env.LAMBDA_FUNCTION }} \
            > /dev/null

    - name: Update function configuration
      run: |
        aws lambda update-function-configuration \
            --function-name ${{ env.LAMBDA_FUNCTION }} \
            --description "Deploy build ${{ github.run_number }} to AWS Lambda via GitHub Actions" \
            --handler ${{ env.LAMBDA_HANDLER }} \
            --memory-size ${{ env.LAMBDA_MEMORY }} \
            --role ${{ env.LAMBDA_ROLE }} \
            --runtime ${{ env.LAMBDA_RUNTIME }} \
            --timeout ${{ env.LAMBDA_TIMEOUT }} \
            > /dev/null

  tests-prod:
    name: tests-prod
    needs: deploy-prod
    runs-on: ubuntu-latest
    concurrency: production_environment

    steps:

    - name: Checkout code
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@607fce577a46308457984d59e4954e075820f10a # v3.0.3

    - name: Run end-to-end tests
      shell: pwsh
      run: dotnet test ./test/LondonTravel.Skill.EndToEndTests --configuration Release --logger "GitHubActions;report-warnings=false"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
        LAMBDA_FUNCTION_NAME: ${{ env.LAMBDA_FUNCTION }}
